<div class="row" ng-controller="userCtrl as userctrl">

	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong>{{labctrl.education | i18n}}</strong>
			</h2>
			<ul class="timeline">
				<li ng-class="{ 'timeline-inverted' : $index%2  === 0 , 'timeline-inverted' : $index%2  === 1}" ng-repeat="education in userctrl.user.education">
					<div class="timeline-badge">
						<i class="glyphicon glyphicon-credit-card"></i>
					</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">{{education.school}}</h4>
							</div>
						<div class="timeline-body">
							{{education.status + ' ' + education.endtime.format('YYYY-MM-DD')}} 
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- /.blog-main -->
</div>