<div class="row" ng-controller="userCtrl as userctrl">

	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header text-info">
				{{labctrl.education | i18n}}
			</h2>
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>
								<a class="btn btn-xs"  ng-click="userctrl.eductionsortype = 'type';userctrl.eductionsortreverse = !userctrl.eductionsortreverse ">
									{{labctrl.schoolType | i18n}}						
									<span ng-show="userctrl.eductionsortype === 'type'&& userctrl.eductionsortreverse">
									  ▲
									</span>
									<span ng-show="userctrl.eductionsortype === 'type'&& !userctrl.eductionsortreverse">
									  ▼
									</span>	
								</a>	
							</th>
							<th>
								<a class="btn btn-xs"  ng-click="userctrl.eductionsortype = 'school';userctrl.eductionsortreverse = !userctrl.eductionsortreverse ">
									{{labctrl.schoolName | i18n}}
									<span ng-show="userctrl.eductionsortype === 'school'&& userctrl.eductionsortreverse">
									  ▲
									</span>
									<span ng-show="userctrl.eductionsortype === 'school'&& !userctrl.eductionsortreverse">
									  ▼
									</span>	
								</a>	
							</th>
							<th>
								<a class="btn btn-xs"  ng-click="userctrl.eductionsortype = 'subject';userctrl.eductionsortreverse = !userctrl.eductionsortreverse ">
									{{labctrl.schoolSubject | i18n}}
									<span ng-show="userctrl.eductionsortype === 'subject'&& userctrl.eductionsortreverse">
									  ▲
									</span>
									<span ng-show="userctrl.eductionsortype === 'subject'&& !userctrl.eductionsortreverse">
									  ▼
									</span>	
								</a>	
							</th>
							<th>
								<a class="btn btn-xs"  ng-click="userctrl.eductionsortype = 'starttime';userctrl.eductionsortreverse = !userctrl.eductionsortreverse ">
									{{labctrl.schoolStarttime | i18n}}
									<span ng-show="userctrl.eductionsortype === 'starttime'&& userctrl.eductionsortreverse">
									  ▲
									</span>
									<span ng-show="userctrl.eductionsortype === 'starttime'&& !userctrl.eductionsortreverse">
									  ▼
									</span>	
								</a>		
							</th>
							<th>
								<a class="btn btn-xs"  ng-click="userctrl.eductionsortype = 'endtime';userctrl.eductionsortreverse = !userctrl.eductionsortreverse ">
									{{labctrl.schoolEndtime | i18n}}
									<span ng-show="userctrl.eductionsortype === 'endtime'&& userctrl.eductionsortreverse">
									  ▲
									</span>
									<span ng-show="userctrl.eductionsortype === 'endtime'&& !userctrl.eductionsortreverse">
									  ▼
									</span>	
								</a>	
							</th>
							<th>
								<a class="btn btn-xs"  ng-click="userctrl.eductionsortype = 'status';userctrl.eductionsortreverse = !userctrl.eductionsortreverse ">
									{{labctrl.schoolStatus | i18n}}
									<span ng-show="userctrl.eductionsortype === 'status'&& userctrl.eductionsortreverse">
									  ▲
									</span>
									<span ng-show="userctrl.eductionsortype === 'status'&& !userctrl.eductionsortreverse">
									  ▼
									</span>	
								</a>	
							</th>			
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="education in userctrl.user.education | orderBy:userctrl.eductionsortype:userctrl.eductionsortreverse">
							<td>{{education.type}}</td>
							<td>{{education.school}}</td>
							<td>{{education.subject}}</td>
							<td>{{education.starttime.format('YYYY-MM-DD')}}</td>
							<td>{{education.endtime.format('YYYY-MM-DD')}}</td>
							<td>{{education.status}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!-- /.blog-post -->

	</div><!-- /.blog-main -->
</div>