<div class="row" ng-controller="userCtrl as userctrl">

	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong>{{labctrl.workExperience | i18n}}</strong>
			</h2>
			<ul class="timeline">
				<li ng-class="{ 'timeline-inverted' : $index%2  === 0 , 'timeline-inverted' : $index%2  === 1}" ng-repeat="employment in userctrl.user.employment">
					<div class="timeline-badge">
						<i class="glyphicon glyphicon-credit-card"></i>
					</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">{{employment.employer}}</h4>
							</div>
						<div class="timeline-body">
							<h5>{{employment.jobtitle}}</h5>
							<div class="alert alert-dismissible">
								{{employment.content}}
							</div>
							<p>{{employment.starttime.format('YYYY-MM-DD') +  ' ~ ' + employment.endtime.format('YYYY-MM-DD')}}</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- /.blog-main -->
</div>
