<div class="row" ng-controller="userCtrl as userctrl">
	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong>{{labctrl.education | i18n}}</strong>
			</h2>
			<ul class="timeline">
				<li ng-class="{ 'timeline-inverted' : $index%2  === 0 , 'timeline-inverted' : $index%2  === 1}" ng-repeat="education in userctrl.user.education">
					<div class="timeline-badge {{labctrl.colors[ $index%5]}}" ng-click="education.active = !education.active">
						<i class="fa fa-graduation-cap"></i>
					</div>
					<div class="timeline-panel {{labctrl.colors[ $index%5]}}" ng-class="{'animated flipOutX' : education.active , 'animated flipInX': !education.active}">
							<div class="timeline-heading">
								<h4 class="timeline-title">
									{{education.school}}
								</h4>
								<p>{{education.subject}}</p>
							</div>
						<div class="timeline-body">
							<span>{{education.endtime.format('YYYY-MM-DD')}}</span>
							<span>{{education.status}}</span> 
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- /.blog-main -->
	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong>{{labctrl.workExperience | i18n}}</strong>
			</h2>
			<ul class="timeline">
				<li ng-class="{ 'timeline-inverted' : $index%2  === 0 , 'timeline-inverted' : $index%2  === 1}" ng-repeat="employment in userctrl.user.employment">
					<div class="timeline-badge {{labctrl.colors[ $index%5]}}" ng-click="employment.active = !employment.active">
						<i class="fa fa-suitcase"></i>
					</div>
					<div class="timeline-panel {{labctrl.colors[ $index%5]}}" ng-class="{'animated flipInX' : !employment.active , 'animated flipOutX': employment.active}">
						<div class="timeline-heading">
							<h4 class="timeline-title">{{employment.employer}}</h4>
							<p>{{employment.jobtitle}}</p>
						</div>
						<div class="timeline-body">
							<div class="alert alert-dismissible" ng-if="!employment.show" ng-class="{'animated lightSpeedIn' : !employment.show , 'animated lightSpeedOut' : employment.show}">
								<p>{{employment.content}}<p>
							</div>
							<div class="alert alert-dismissible" ng-if="employment.show" ng-class="{'animated lightSpeedIn' : employment.show , 'animated lightSpeedOut' : !employment.show}">
								<div>
									<img class="pull-left img-responsive img-circle" ng-src="{{employment.supervisor.photo}}">
									<strong>{{employment.supervisor.name}}</strong>
								</div>
								<p>{{employment.supervisor.jobtitle}}</p>
								<div><a ng-href="tel:{{employment.supervisor.telphone}}">{{employment.supervisor.telphone}}</a></div>
								<div><a ng-href="mailto:{{employment.supervisor.mail}}">{{employment.supervisor.mail}}</a></div>
							</div>
							<p>
								<label>{{employment.starttime.format('YYYY-MM-DD')}} </label>
								~ 
								<label>{{employment.endtime.format('YYYY-MM-DD')}} </label>
								<button class="btn btn-primary btn-xs pull-right" ng-click="employment.show = !employment.show">
									<span ng-if="!employment.show">{{labctrl.supervisor | i18n}}</span>
									<span ng-if="employment.show">{{labctrl.content | i18n}}</span>
								</button>
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- /.blog-main -->
</div>