<div class="row" ng-controller="userCtrl as userctrl">
	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong ng-cloak>{{labctrl.introduce | i18n}}</strong>
			</h2>
			<p class="lead rubberBand animated" style="line-height:1.5em" ng-cloak>
				{{ userctrl.user.introduce }}
			</p>
		</div><!-- /.blog-post -->
	</div><!-- /.blog-main -->
	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong ng-cloak>{{labctrl.personalInfo | i18n}}</strong>
			</h2>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<img class="img-responsive" style="margin:5px auto" ng-src="{{ userctrl.user.photo }}">
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9">
					<div style="overflow:hidden">
						<table class="table table-noborder text-center" style="font-size: inherit;">
							<tbody>
								<tr>
									<th>
										<span ng-cloak>{{ labctrl.name | i18n }}</span>
									</th>
									<td>:</td>
									<td><span ng-cloak>{{ userctrl.user.username }}</span></td>
								</tr>
								<tr>
									<th>
										<span ng-cloak>{{ labctrl.email | i18n }}</span>
									</th>
									<td>:</td>
									<td><a href="mailto:{{userctrl.user.mail}}" ng-cloak>{{ userctrl.user.mail }}</a></td>
								</tr>
								<tr>
									<th>
										<span>{{ labctrl.github}}</span>
									</th>
									<td>:</td>
									<td><a ng-href="{{userctrl.user.github}}" target="_blank" ng-cloak>{{ userctrl.user.github }}</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.blog-main -->
</div>
