<div class="row" ng-controller="skillLangController as skilllangctrl">
    <div class="col-xs-12">
        <div class="bs-docs-section">
            <h2 class="page-header">
				<strong>{{labctrl.language | i18n}}</strong>
			</h2>
			<div class="row">
				<div class="col-xs-12">
					<canvas class="chart chart-radar" chart-data="skilllangctrl.languageskill.series.datas" chart-options="skilllangctrl.options" chart-series="skilllangctrl.languageskill.series.labels" chart-labels="skilllangctrl.languageskill.labels"></canvas> 
				</div>
			</div>
		</div>
        <!-- /.blog-post -->
    </div>
</div>