<div class="row">
    <table class="table table-bordered text-center" ng-controller="userCtrl as userctrl" ng-model="isClick" ng-init="isClick = true">
        <thead class="thead-default">
            <tr>
                <th colspan="2">
					<label>
						{{ labctrl.personalInfo | i18n }}
					</label>
					<a class="btn btn-xs pull-right" ng-click="isClick=!isClick">
						<span ng-if="isClick">
						  ▲
						</span>
						<span ng-if="!isClick">
						  ▼
						</span>				
					</a>
				</th>
				
            </tr>
        </thead>
        <tbody ng-if="isClick">
            <tr>
                <th class="text-center" colspan="2">
                    <img class="img-rounded img-thumbnail" ng-src="{{ userctrl.user.photo }}">
                </th>
            </tr>
            <tr>
                <th>
					<span class="hidden-xs">{{ labctrl.name | i18n }}</span>
					<span class="visible-xs-inline-block" title="{{labctrl.name | i18n}}">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</th>
                <td>{{ userctrl.user.username }}</td>
            </tr>
            <tr>
                <th>
					<span class="hidden-xs">{{ labctrl.sex | i18n }}</span>
					<span class="visible-xs-inline-block" title="{{labctrl.sex | i18n}}">
						<i class="fa fa-transgender" aria-hidden="true"></i>
					</span>
				</th>
                <td>{{ userctrl.user.sex }}</td>
            </tr>
            <tr>
				<th>
					<span class="hidden-xs">{{ labctrl.age | i18n }}</span>
					<span class="visible-xs-inline-block" title="{{labctrl.age | i18n}}">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</span>
				</th>
                <td>{{ userctrl.user.age }}</td>
            </tr>
            <tr>
                <th>
					<span class="hidden-xs">{{ labctrl.birthday | i18n }}</span>
					<span class="visible-xs-inline-block" title="{{labctrl.birthday | i18n}}">
						<i class="fa fa-birthday-cake" aria-hidden="true"></i>
					</span>
				</th>
                <td>{{ userctrl.user.birth.format('YYYY-MM-DD') }}</td>
            </tr>
            <tr>
                <th>
					<span class="hidden-xs">{{ labctrl.height | i18n }}</span>
					<span class="visible-xs-inline-block" title="{{labctrl.height | i18n}}">
						H
					</span>
				</th>
                <td>{{ userctrl.user.height }} cm</td>
            </tr>
            <tr>
		        <th>
					<span class="hidden-xs">{{ labctrl.weight | i18n }}</span>
					<span class="visible-xs-inline-block" title="{{labctrl.weight | i18n}}">
						W
					</span>
				</th>
                <td>{{ userctrl.user.weight }} kg</td>
            </tr>
			<tr>
				<th>
					<span class="hidden-xs">{{ labctrl.email | i18n }}</span>
					<span class="visible-xs-inline-block" title="{{labctrl.email | i18n}}">
						<i class="fa fa-envelope-open-o" aria-hidden="true"></i>
					</span>
				</th>
                <td><a>{{ userctrl.user.mail }}</a></td>
            </tr>
			<tr>
				<th>
					<span class="hidden-xs">{{ labctrl.github}}</span>
					<span class="visible-xs-inline-block" title="{{labctrl.github | i18n}}">
						G
					</span>
				</th>
                <td><a>{{ userctrl.user.github }}</a></td>
            </tr>
			<tr>
				<th>
					<span class="hidden-xs">{{ labctrl.telphone | i18n }}</span>
					<span class="visible-xs-inline-block" title="{{labctrl.telphone | i18n}}">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</span>
				</th>
                <td><a ng-href="tel:{{userctrl.user.telphone}}">{{ userctrl.user.telphone }}</a></td>
            </tr>
			<tr>
				<th>
					<span class="hidden-xs">{{ labctrl.cellphone | i18n }}</span>
					<span class="visible-xs-inline-block" title="{{labctrl.cellphone | i18n}}">
						<i class="fa fa-mobile" aria-hidden="true"></i>
					</span>
				</th>
                <td><a ng-href="tel:{{userctrl.user.cellphone}}">{{ userctrl.user.cellphone }}</a></td>
            </tr>
		</tbody>
    </table>
</div>
