<div class="row" ng-controller="userCtrl as userctrl">
	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong ng-cloak>{{labctrl.experts | i18n}}</strong>
			</h2>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="experts in userctrl.user.experts">
					<img ng-src="{{experts.icon}}" class="img-responsive img-circle rotateIn animated" style="margin:10px auto -20px auto">
					<h3 class="text-center text-info"><strong ng-cloak>{{experts.name}}</strong></h3>
					<em class="zoomIn animated" ng-cloak>{{experts.content}}</em>
				</div>
			</div>
		</div><!-- /.blog-post -->
	</div><!-- /.blog-main -->

	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong ng-cloak>{{labctrl.programminglanguage | i18n}}</strong>
			</h2>
			<div class="row" ng-repeat="programminglanguage in userctrl.user.computerskill.programminglanguage">
				<div class="col-xs-12 col-sm-4 col-md-4"><h5 class="text-info"><strong ng-cloak>{{programminglanguage.name + ' '}}</strong><span ng-cloak>({{programminglanguage.years+' '}}{{labctrl.year | i18n }})</span></h5></div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<div class="progress">
					  <div class="progress-bar  animated slideInLeft progress-bar-{{labctrl.colors[$index%5]}}" aria-valuemin="0" aria-valuemax="100"  ng-style="{width: programminglanguage.value +'%'}">
						{{programminglanguage.value}}%
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong>{{labctrl.kits | i18n}}</strong>
			</h2>
			<div class="bs-component">
				<label class="label label-{{labctrl.colors[$index%5]}}" ng-repeat="kits in userctrl.user.computerskill.kits" style="line-height: 1.5em; margin:5px; font-size: large;" ng-cloak>
					{{kits.name}}
				</label>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong>{{labctrl.tool | i18n}}</strong>
			</h2>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="toolskill in userctrl.user.computerskill.toolskill">
					<img ng-src="{{toolskill.icon}}" class="img-responsive img-circle rotateIn animated" style="margin:auto">
					<h3 class="text-center text-info"><i class="fa fa-check-circle text-success fadeInLeft animated" style="margin:auto 2px;"></i><strong ng-cloak>{{toolskill.name}}</strong></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong ng-cloak>{{labctrl.other | i18n}}</strong>
			</h2>
			<div class="row" ng-controller="skillLangController as skilllangctrl">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="text-info text-center"><strong ng-cloak>{{labctrl.officeskill | i18n}}</strong></div>
					<canvas class="chart chart-radar" chart-data="userctrl.user.computerskill.officeskill.series.datas"  chart-options="skilllangctrl.options" chart-labels="userctrl.user.computerskill.officeskill.labels"></canvas> 
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="text-info text-center"><strong ng-cloak>{{labctrl.language | i18n}}</strong></div>
					<canvas class="chart chart-radar" chart-data="skilllangctrl.languageskill.series.datas" chart-options="skilllangctrl.options" chart-series="skilllangctrl.languageskill.series.labels" chart-labels="skilllangctrl.languageskill.labels"></canvas> 
				</div>
			</div>
		</div><!-- /.blog-post -->
	</div><!-- /.blog-ma-->
</div>