<div class="row" ng-controller="worksCtrl as worksctrl">
	<div class="col-xs-12">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong>{{labctrl.works | i18n}}</strong>
			</h2>
			<div class="blog_block" ng-repeat="works in worksctrl.works">
				<div class="row">
					<div class="col-md-4">
						<div class="blog_img">
							<img class="img img-responsive" style="max-height:300px;margin:auto;" ng-src="{{works.image}}">
						</div>
					</div>
					<div class="col-md-8">
						<h4 class="text-info text-uppercase">
							<strong>{{works.title}}</strong>
						</h4>
						<p>
							{{works.abstracts}}
						</p>
						<a class="btn btn-primary text-uppercase">Read More</a>
					</div>
				</div>
			</div>
		</div><!-- /.blog-post -->
	</div><!-- /.blog-main -->
</div>
