<div class="row" ng-controller="worksCtrl as worksctrl">
	<div class="col-xs-12"  ng-if="worksctrl.showAll">
		<div class="bs-docs-section">
			<h2 class="page-header">
				<strong ng-cloak>{{labctrl.works | i18n}}</strong>
			</h2>
			<div class="blog_block" ng-repeat="works in worksctrl.works">
				<div class="row">
					<div class="col-md-4">
						<div class="blog_img">
							<img class="img img-responsive" style="max-width:400px;margin:auto;" ng-src="{{works.image[0]}}">
						</div>
					</div>
					<div class="col-md-8">
						<h4 class="text-info text-uppercase">
							<strong ng-cloak>{{works.title}}</strong>
						</h4>
						<p ng-cloak>
							{{works.abstracts}}
						</p>
						<a class="btn btn-primary text-uppercase" ng-href="#/works/detail/{{$index}}" ng-click="worksctrl.showAll = false" ng-cloak>{{labctrl.readmore | i18n}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12" ng-if="!worksctrl.showAll">
		<div ui-view></div>
	</div>
</div>
